#######                          User-Specific Variables                      ########
# Remove the .example from the file name and fill in paths to headers and libraries. #
# This should leave you with a uservars.mk; DO NOT add to to mercurial tracking. 	 #
# Variables to fill in and samples paths:											 #
# SPOT_LIB: the location of the spot library (e.g. /pathtospot/spot/src/.libs/)		 #
# SPOT_INCL: the location of spot header files (e.g /usr/local/include/spot)         #
# GTEST_LIB: the location of gtest and gtest_main libraries (where GTest was built)  #
# GTEST_INCL: the location of gtest header files (e.g. /pathtogtest/gtest/include)   #
# BOOST_INCL: the location of the boost header files (e.g. /usr/include/boost)       #
######################################################################################

#### Specify path to SPOT library
SPOT_LIB:=/path/to/libspot.a/

#### Specify path to GTest Libraries
GTEST_LIB:=/path/to/libgtest.a/

#### Specify path to SPOT headers
SPOT_INCL:=/path/to/spot/headers/

#### Specify path to GTest headers
GTEST_INCL:=/path/to/gtest/headers/

#### Specify path to BOOST headers
BOOST_INCL:=/path/to/boost/headers
