<!--

a:link {color: #660099}     /* unvisited link; old: #660099 */
a:visited {color: #660099}  /* visited link; old: #660099 */
a:hover {color: red}     /* mouse over link; old: #088A08 */
a:active {color: red}    /* selected link */

a   { text-decoration:none;  }

body { background-color: white; }

header, nav, #form1, #allout{
    margin-left: auto;
    margin-right: auto;
    font: 14px Arial;
    font-stretch: 10%;
    width: 48%;
    text-align:left;
    background-color: white;
    padding: 1%
}

nav li {
    float: left; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 14px Arial;
    font-stretch: 10%;
}

nav a:link, nav a:visited {
    display: block;
    width: 60px;
    background-color: #ccf;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    color: black
}

nav a:hover {
    background-color: #eef;
    color: black
}


#footer {
    float: right;
    font: 12px Arial;
    font-stretch: 10%;
    color: gray;
}

.input {
    border: 1px solid #006;
    background: #ffc;
    font-family: sans-serif; 
    font-size: 14px;
}

.input:hover {
    border: 1px solid #f00;
    background: #ffc;
}
.button {
    border: 1px solid #006;
    background: #ccf;
    font-family: sans-serif; 
    font-size: 20px;
}
.button:hover {
    border: 1px solid #f00;
    background: #eef;
}

textarea {
    width: 300px;
    padding: 2px;
}

#mine {
    width: 300px;
    padding: 2px;
}

#args {
    width: 300px;
    padding: 2px;
}

.output {
    display: none;
    padding: 2px;
    border: 1px solid #006;
    background: #eef;
    font-family: sans-serif; 
    font-size: 14px;
    width: 300px;
}

.hide{

visibility: hidden

}

table#realout td + td { border-left:2px solid black; }

-->
